### DataSet Lazada https://drive.google.com/drive/folders/1-Vzi94sbb4yxKwbbp_yddJ4jYbEm8rDb?usp=drive_link

### POSTTEST 4
- Nama : Steven Alesandro Nesta
- NIM : 2109106113
- Informatika C1'21

### IMPORT LIBRARY

In [15]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

## INFO DATA

In [16]:
import pandas as pd
df = pd.read_csv('dataset-reviews.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203787 entries, 0 to 203786
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   itemId          203787 non-null  int64
 1   category        203787 non-null  object
 2   name            203787 non-null  object
 3   rating          203787 non-null  int64
 4   originalRating  8 non-null       float64
 5   reviewTitle     23399 non-null   object
 6   reviewContent   107029 non-null  object
 7   likeCount       203787 non-null  int64
 8   upVotes         203787 non-null  int64
 9   downVotes       203787 non-null  int64
 10  helpful         203787 non-null  bool
 11  relevanceScore  203787 non-null  float64
 12  boughtDate      196680 non-null  object
 13  clientType      203787 non-null  object
 14  retrievedDate   203787 non-null  object
dtypes: bool(1), float64(2), int64(5), object(7)
memory usage: 22.0+ MB

In [17]:
df.shape

(203787, 15)

## Data split 70:30
- Bagi dataset menjadi training set dan testing set dengan proporsi 70:30

In [18]:
X = df.iloc[:, : -1]
y = df.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print("Dimensi X_train", X_train.shape)
print("Dimensi X_test", X_test.shape)
print("Dimensi y_train", y_train.shape)
print("Dimensi y_test", y_test.shape)

Dimensi X_train (142650, 14)
Dimensi X_test (61137, 14)
Dimensi y_train (142650,)
Dimensi y_test (61137,)

## NORMALISASI DATA
- Lakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler (buatlah copy dataset terlebih dahulu)

In [19]:
min_max = MinMaxScaler()

# Copy Data
copy1 = df
dataCopy_normalization = copy1[["rating"]]

normalization = min_max.fit_transform(dataCopy_normalization[["rating"]])

df_normalization = pd.DataFrame(normalization)
df_normalization.columns =["rating_Normalization"]

dataCopy_normalization = dataCopy_normalization.join(df_normalization["rating_Normalization"]).reset_index()
dataCopy_normalization = dataCopy_normalization.drop("index", axis=1)

print()
print("Data Sebelum dan Sesudah dilakukan normalisasi : \n")
dataCopy_normalization.head(10)

Data Sebelum dan Sesudah dilakukan normalisasi :

   rating  rating_Normalization
0       5                  1.00
1       4                  0.75
2       5                  1.00
3       4                  0.75
4       5                  1.00
5       5                  1.00
6       5                  1.00
7       1                  0.00
8       1                  0.00
9       5                  1.00

### STANDARISASI 
- standarisasi pada dataset (buatlah copy dataset terlebih dahulu)

In [22]:
data_copy = df.copy()

attribute_to_standardize = 'rating'

scaler = StandardScaler()

data_copy[[attribute_to_standardize]] = scaler.fit_transform(data_copy[[attribute_to_standardize]])

print("Atribut 'points' Sebelum dan Sesudah Standarisasi:\n")
print("Sebelum Standarisasi:\n")
print(df[[attribute_to_standardize]].head(10))
print("\nSesudah Standarisasi:\n")
print(data_copy[[attribute_to_standardize]].head(10))

Atribut 'points' Sebelum dan Sesudah Standarisasi:

Sebelum Standarisasi:

   rating
0       5
1       4
2       5
3       4
4       5
5       5
6       5
7       1
8       1
9       5

Sesudah Standarisasi:

     rating
0  0.400300
1 -0.608617
2  0.400300
3 -0.608617
4  0.400300
5  0.400300
6  0.400300
7 -3.635367
8 -3.635367
9  0.400300

## DATA CLEANING 
### Nilai null
Lakukan Data cleaning pada data dengan nilai null (jika tidak ada nilai null pada dataset, maka buatlah menjadi ada). Ganti nilai null sesuai ketentuan. (bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus). Nilai plus jika strategy yang digunakan menggunakan 3 nilai

In [23]:
df.isna().sum()

itemId                 0
category               0
name                   0
rating                 0
originalRating    203779
reviewTitle       180388
reviewContent      96758
likeCount              0
upVotes                0
downVotes              0
helpful                0
relevanceScore         0
boughtDate          7107
clientType             0
retrievedDate          0
dtype: int64

### Data Bilangan Bulat dengan Strategi Median

In [24]:
strategi1 = SimpleImputer(strategy="median")

df["originalRating"] = strategi1.fit_transform(df[["originalRating"]])

df.isna().sum()

itemId                 0
category               0
name                   0
rating                 0
originalRating         0
reviewTitle       180388
reviewContent      96758
likeCount              0
upVotes                0
downVotes              0
helpful                0
relevanceScore         0
boughtDate          7107
clientType             0
retrievedDate          0
dtype: int64

## menghapus atribut tipe string yg bernilai null

In [25]:
kolom_null = df.columns[df.isna().any()].tolist()

In [26]:
df.drop(columns=kolom_null, inplace=True)

In [27]:
df.isna().sum()

itemId            0
category          0
name              0
rating            0
originalRating    0
likeCount         0
upVotes           0
downVotes         0
helpful           0
relevanceScore    0
clientType        0
retrievedDate     0
dtype: int64

### Nilai Duplikat 
Lakukan Data cleaning pada data dengan nilai duplikat. (Jika tidak ada nilai duplikat pada dataset, maka buatlah menjadi ada).

In [28]:
df[df.duplicated()]

print("Jumlah Data Duplikat : ")
df.duplicated().sum()

Jumlah Data Duplikat :

15708

In [29]:
make_duplicated = pd.concat([df]*2, ignore_index=True)
make_duplicated.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
407569     True
407570     True
407571     True
407572     True
407573     True
Length: 407574, dtype: bool

In [30]:
make_duplicated.drop_duplicates(inplace=True)

hasil = make_duplicated.reset_index(drop=True)
print("Jumlah data duplicated setelah di drop :")
hasil.duplicated().sum()

Jumlah data duplicated setelah di drop :

0

## Ganti tipe data salah satu attribute angka

In [31]:
print("Tipe data rating sebelum d :")
df["rating"].dtypes

Tipe data rating sebelum d :

dtype('int64')

In [32]:
ubah_dtype = df["rating"].astype("int")
print("Tipe data tenure setelah diubah :")
ubah_dtype.dtypes

Tipe data tenure setelah diubah :

dtype('int32')

## Lakukan one hot encoding pada dataset yang kalian miliki

In [33]:
one_hot = OneHotEncoder(sparse_output=False)

df_onehot = one_hot.fit_transform(df[["rating"]])
df_onehot = pd.DataFrame(df_onehot)
df_oh = df[['rating']].join(df_onehot)


df_oh.head(10)

   rating    0    1    2    3    4
0       5  0.0  0.0  0.0  0.0  1.0
1       4  0.0  0.0  0.0  1.0  0.0
2       5  0.0  0.0  0.0  0.0  1.0
3       4  0.0  0.0  0.0  1.0  0.0
4       5  0.0  0.0  0.0  0.0  1.0
5       5  0.0  0.0  0.0  0.0  1.0
6       5  0.0  0.0  0.0  0.0  1.0
7       1  1.0  0.0  0.0  0.0  0.0
8       1  1.0  0.0  0.0  0.0  0.0
9       5  0.0  0.0  0.0  0.0  1.0