### DataSet Lazada https://drive.google.com/drive/folders/1-Vzi94sbb4yxKwbbp_yddJ4jYbEm8rDb?usp=drive_link

### soal no 1

In [1]:
import pandas as pd

# Mengimpor dataset dari file CSV
data = pd.read_csv('dataset-reviews.csv') 

# Tentukan kolom numerik yang ingin  dihitung statistiknya
numeric_column = 'itemId' 

# Hitung statistik
mean = data[numeric_column].mean()
std_dev = data[numeric_column].std()
min_value = data[numeric_column].min()
max_value = data[numeric_column].max()
q1 = data[numeric_column].quantile(0.25)
q2 = data[numeric_column].quantile(0.5)  
q3 = data[numeric_column].quantile(0.75)

# Cetak hasil
print("Mean:", mean)
print("Standard Deviation:", std_dev)
print("Minimum Value:", min_value)
print("Maximum Value:", max_value)
print("Q1 (25th Percentile):", q1)
print("Q2 (Median - 50th Percentile):", q2)
print("Q3 (75th Percentile):", q3)

Mean: 283647856.64786273
Standard Deviation: 172620746.1329689
Minimum Value: 6068
Maximum Value: 724216967
Q1 (25th Percentile): 160008566.0
Q2 (Median - 50th Percentile): 354115963.0
Q3 (75th Percentile): 414742098.0

### Soal No 2

In [2]:
# masukan'numeric_column' dengan nama kolom numerik dalam dataset Anda
numeric_column = 'name'

# Menampilkan 10 baris pertama dari kolom numerik
first_10_records = data[numeric_column].head(10)
print(first_10_records)

0           Kamal U.
1         yofanca m.
2    Lazada Customer
3    Lazada Customer
4           Yosep M.
5              Deden
6              Yeana
7          nurfarida
8          Fadjar B.
9           agung p.
Name: name, dtype: object

### Soal No 3

In [3]:
import pandas as pd

# Mengimpor dataset dari file CSV
data = pd.read_csv('dataset-reviews.csv')

# Mengumpulkan informasi yang diminta
info_dict = {
    "Jumlah Record": len(data),
    "Jumlah Attribute": len(data.columns),
    "Nama Attribute": list(data.columns),
    "Jumlah Attribute dengan Tipe Angka": len(data.select_dtypes(include=['number']).columns)
}

# Menampilkan isi dictionary
for key, value in info_dict.items():
    print(f"{key}: {value}")

Jumlah Record: 203787
Jumlah Attribute: 15
Nama Attribute: ['itemId', 'category', 'name', 'rating', 'originalRating', 'reviewTitle', 'reviewContent', 'likeCount', 'upVotes', 'downVotes', 'helpful', 'relevanceScore', 'boughtDate', 'clientType', 'retrievedDate']
Jumlah Attribute dengan Tipe Angka: 7

### Soal No 4

In [4]:
import pandas as pd

# Mengimpor dataset dari file CSV
data = pd.read_csv('dataset-reviews.csv')

# Menggunakan metode slice dengan iloc
sliced_data = data.iloc[113:, 3:]
print(sliced_data)

        rating  originalRating                      reviewTitle  \
113          5             NaN                              NaN
114          5             NaN                              NaN
115          5             NaN                              NaN
116          5             NaN                             GOOD
117          4             NaN                              NaN
...        ...             ...                              ...
203782       5             NaN                            murah
203783       3             NaN  barang bagus dan sesuai pesanan
203784       5             NaN                              NaN
203785       3             NaN                     AKARI LED TV
203786       5             NaN                          TOP DAH

                                            reviewContent  likeCount  upVotes  \
113                                                   NaN          0        0
114                                                   NaN          0        0
115                                                   NaN          0        0
116     barang bagus quick respon hari ini pesan besok...          0        0
117                                                   NaN          0        0
...                                                   ...        ...      ...
203782               barang bagus dengan harga kompetitif          6        6
203783                                                NaN          0        0
203784                                                NaN          0        0
203785  Ok.thank lazada Pagi order sore barang nyampe ...          0        0
203786  semua fitur berfungsi,harganya cukup murah. AK...          0        0

        downVotes  helpful  relevanceScore   boughtDate  clientType  \
113             0     True           25.00  22 Sep 2019  androidApp
114             0     True           24.15  17 Jul 2019  androidApp
115             0     True           24.01  15 Mei 2019  androidApp
116             0     True           23.03  03 Jul 2018     desktop
117             0     True           23.01  30 Mar 2019      mobile
...           ...      ...             ...          ...         ...
203782          0     True           24.63  22 Nov 2016     desktop
203783          0     True           14.01  10 Apr 2018  androidApp
203784          0     True           15.63  04 Jan 2018  androidApp
203785          0     True           19.48  15 Nov 2016  mobile-app
203786          0     True            9.50          NaN  mobile-app

       retrievedDate
113       2019-10-02
114       2019-10-02
115       2019-10-02
116       2019-10-02
117       2019-10-02
...              ...
203782    2019-10-02
203783    2019-10-02
203784    2019-10-02
203785    2019-10-02
203786    2019-10-02

[203674 rows x 12 columns]

### Soal No 5

In [5]:
import pandas as pd

# Mengimpor dataset dari file CSV
data = pd.read_csv('dataset-reviews.csv')

# Memilih kolom dengan tipe data objek
object_columns = data.select_dtypes(include=['object'])

# Menghitung jumlah label unik untuk setiap kolom
label_counts = object_columns.apply(lambda col: col.nunique())

# Menampilkan jumlah label untuk semua attribute yang bernilai objek
print(label_counts)

category             5
name             40099
reviewTitle       5724
reviewContent    38071
boughtDate        1690
clientType           5
retrievedDate        1
dtype: int64